<h1>Generate Policy</h1>
<% if @errors %><p class="error"><%= @errors %></p><% end %>
<form action="/policies" method="POST">
  <label>AWS Bucket Name</label>
  <input type="text" name="bucket">
  <label>AWS Access Key</label>
  <input type="text" name="access_key_id">
  <label>AWS Secret Access</label>
  <input type="text" name="secret_access_key">
  <hr>
  <button type='submit'>Submit</button>
</form>
